{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "targets":  {
          "node": "current",
          "browsers": ["> 0.5%", "last 2 versions", "Firefox ESR", "not dead", "not ie <= 11"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "wildcard",
      {
        "exts": [
          "js",
          "es6",
          "es",
          "jsx",
          "vue"
        ]
      }
    ],
    [
      "module-resolver",
      {
        "extensions": [
          ".js",
          ".vue",
          ".json"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
